In [1]:
import pandas as pd

In [3]:
import sqlite3
from tqdm import tqdm

con = sqlite3.connect("./var/imdb.sqlite3")
cur = con.cursor()

profession_list = cur.execute("SELECT nconst, primaryProfession FROM name").fetchall()

for professions in tqdm(profession_list):
    for profession in professions[1].split(','):
        data = (professions[0], profession)
        cur.execute("INSERT INTO name_profession VALUES(?,?)", data)
con.commit()
con.close()

100%|██████████| 5251627/5251627 [00:11<00:00, 454922.68it/s]

In [1]:
import sqlite3
from tqdm import tqdm

con = sqlite3.connect("./var/imdb.sqlite3")
cur = con.cursor()

profession_list = cur.execute(
"""
SELECT * 
FROM name 
LIMIT 10;
"""
).fetchall()

In [9]:
import sqlite3
from tqdm import tqdm

con = sqlite3.connect("./var/imdb.sqlite3")
cur = con.cursor()

try :
    cur.execute(
    '''
    CREATE TABLE title_genre 
    (tconst varchar(10) not null, 
    genre text not null, 
    foreign key(tconst) references basics(tconst))
    '''
    )
    con.commit()
except: pass

genre_list = cur.execute("SELECT tconst, genres FROM basics").fetchall()

for genres in tqdm(genre_list):
    for genre in genres[1].split(','):
        data = (genres[0], genre)
        cur.execute("INSERT INTO title_genre VALUES(?,?)", data)

con.commit()
con.close()

100%|██████████| 6390856/6390856 [00:16<00:00, 387585.87it/s]

In [ ]:
SELECT t1.genre, SUM(t2.numVotes) AS sum_value
FROM title_genre AS t1
JOIN ratings AS t2 ON t1.tconst = t2.tconst
GROUP BY t1.genre
ORDER BY sum_value DESC
LIMIT 3;

In [11]:
import sqlite3
from tqdm import tqdm

con = sqlite3.connect("./var/imdb.sqlite3")
cur = con.cursor()

cur.execute(
'''
CREATE TABLE title 
(nconst varchar(10) not null, 
primaryName text not null,
title text not null, 
foreign key(nconst) references name(nconst))
'''
)
con.commit()

title_list = cur.execute("SELECT nconst, primaryName, knownForTitles FROM name").fetchall()

for titles in tqdm(title_list):
    for title in titles[2].split(','):
        data = (titles[0], titles[1], title)
        cur.execute("INSERT INTO title VALUES(?,?,?)", data)
con.commit()
con.close()

100%|██████████| 5251627/5251627 [00:18<00:00, 286247.24it/s]